.confirm-button:hover{
  background-color: #FFE194;
}

.confirm-button,
.deny-button{
  transition-duration: 0.2s;
  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;
  border: 0px;
  border-radius: 15px;
}



.blauwe-blok-container {
    width: 631px;
    height: 212px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    background-color: #e8f6ef;
  }
  
  .blauwe-blok-container:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
  
  .blauwe-blok-text {
    top: 24px;
    left: 347px;
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
  .blauwe-blok-text1 {
    top: 102px;
    left: 370px;
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }
  .blauwe-blok-text2 {
    top: 103px;
    right: 75px;
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }
  .blauwe-blok-text3 {
    top: 46px;
    left: 346px;
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
  }
  .blauwe-blok-text4 {
    top: 154px;
    left: 346px;
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }
  .blauwe-blok-text5 {
    left: 348px;
    bottom: 12px;
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
  .blauwe-blok-text6 {
    left: 445px;
    color: #FFB319;
    bottom: 12px;
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
  .blauwe-blok-image {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  .blauwe-blok-root-class-name {
    margin-top: var(--dl-space-space-twounits);
  }
  .blauwe-blok-root-class-name1 {
    margin-top: var(--dl-space-space-twounits);
  }
  .blauwe-blok-root-class-name2 {
    margin-top: var(--dl-space-space-twounits);
  }
  .blauwe-blok-root-class-name3 {
    margin-top: var(--dl-space-space-twounits);
  }
  .blauwe-blok-root-class-name4 {
    margin-top: var(--dl-space-space-twounits);
  }
  .blauwe-blok-root-class-name5 {
    margin-top: var(--dl-space-space-twounits);
  }
  .blauwe-blok-root-class-name6 {
    margin-top: var(--dl-space-space-twounits);
  }
  .blauwe-blok-root-class-name7 {
    margin-top: var(--dl-space-space-twounits);
  }
  .btn-more-details{
    font-size: 15px;
    margin-left: 20px;
  }