div.index-div {
  position: absolute;
  top: 100px;
  right: 20px;
  display: flex;
  justify-content: flex-end;

}

.index-button {
  display: inline-block;
  padding: 15px 35px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #ffffff;
  background-color: #B8DFD8;
  border: none;
  border-radius: 25px;
  box-shadow: 0 3px #999999;
}

.index-button:hover {
  background-color: #addce8
}

.index-button-popup {
  display: inline-block;
  padding: 15px 35px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #B8DFD8;
  border: none;
  border-radius: 25px;
  box-shadow: 0 3px #999;
}

.index-button-popup:hover {
  background-color: #addce8
}

.form-container label {
  font-size: medium;
  font-weight: 100;
  text-align: left;
}

.form-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: none;
  position: fixed;
  top:58%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px #999999;
  border-radius: 10px;
  box-shadow: 0 3px #999999;
  z-index: 9;
  backdrop-filter: blur(100em);
  background-color: #B8DFD8;
  width: 40%;
  padding: 10px;
}

.form-container span {
  color: white;
  font-weight: 900;
  font-size: 36px;
}

.form-container p {
  color: #000000;
  font-size: small;
  text-decoration: underline;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .form-confirm {
  display: inline-block;
  padding: 15px 35px;
  margin-left: 10px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000000;
  border: none;
  border-radius: 25px;
  box-shadow: 0 3px #999;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #ffffff00;
  color: rgb(0, 0, 0);
  padding: 4px;
  border: none;
  cursor: pointer;
  width: 5%;
  margin-bottom: 10px;
  opacity: 0.8;

  font-size: 24px;
  font-weight: bold;
}

div.index-div-1 {
  background-color: #B8DFD8;
  width: 100%;
  max-height: 256px;
  position: absolute;
  z-index: 3;

}

div p.wit-groot {
  text-align: center;
  color: white;
  font-weight: 900;
  font-size: 48px;
}

div span.wit-dun {
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 32px;
}

div span.zwart-groot {
  text-align: center;
  color: black;
  font-weight: bolder;
  font-size: 48px;
}

div p {
  text-align: center;
  color: white;
  font-weight: lighter;
  font-size: 36px;
}

div.index-div-2 {
  background-color: #FFB319;
  border-radius: 15px;
  z-index: 4;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 72px;
}

div p.geel-groot {
  text-align: center;
  color: #FFB319;
  font-weight: bolder;
  font-size: 48px;
  margin: 24px 0 4px 0;
}

div p.zwart-groot {
  text-align: center;
  color: #000000;
  font-weight: bolder;
  font-size: 48px;
  margin: 24px 0 4px 0;
}

div.index-div-3 {
  background-color: #ffffff;
  height: auto;
  z-index: 5;
}

p.div-3 {
  color: #000000;
  font-size: 24px;
  display: inline-block;
  padding: 1rem 3rem;
  text-align: center;
  margin: auto;
}

span.span-div-3 {
  font-size: 32px;
  font-weight: bold;
}

.index-div-3 hr {
  width: 60%;
  border-radius: 50px;
  border: 3px solid #FFE194;
}

.row1 {
  width: 100%;
  display: flex;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 3.5rem;
  margin-inline-end: 3.5rem;
  justify-content: center;
  margin: auto;
}

.ml-50p{
  margin-left: -50%;
}