body{
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 400;
  margin:0;
}

 
 /* Nav bar */
 .ul-nav{
 list-style-type: none;
 position: fixed;
}

.li-nav{
  float: right;
  position: relative;
  text-align: center;
}

.li-nav a{
  text-decoration: none;
}

.noline{
  text-decoration: none;
}

li.li-nav .a-nav:hover:not(.active),
li.li-nav-dd .a-nav:hover:not(.active) {
  background-color: #ee9f00;
  transition: 0.2s;
}

/* Dropdown */
.li-nav-dd {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 2.6em;
  min-width: 150px;
  background-color: #FFE194;
  padding: 0 0;
  z-index: 1001;
  text-align: center;
  border: 1px solid #000000;
  border-top: 0;
}

.dropdown-content a {
  display: block;
  color: #000000;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 18px;
}

.li-nav-dd:hover .dropdown-content {
  display: block;
}

.dropdown-content :hover{
  background-color: #ee9f00;
  transition: 0.2s;
}

/* favorite button in details.html*/
.favorite :hover{
  color: #ff5c00;
  transition: 0.2s ;
}

.favorite.active i {
  color: #ff5c00;
}

/*css for the menus and buttons*/
.hvr-cy:hover{
  background-color: #ee9f00;
  transition: 0.2s;
}

.hvr-cbl:hover{
  background-color: #b8dfd8;
  transition: 0.2s;
}

.hvr-clbl:hover{
  background-color: #e8f6ef;
  transition: 0.2s;
}

.pc-b::placeholder{
  color: #000000;
  opacity: 1;
}

input#input-photos{
  display: none;
}

.ti10px{
  text-indent: 10px;
}


/* footer */
.ftr{
bottom: 0;
}

.ftr-h:hover{
  color: #686b6e;
}

/* FONT */
/*font size*/
.fs12{
  font-size: 12px;
}

.fs18{
  font-size: 18px;
}

.fs22{
  font-size: 22px;
}

.fs24{
  font-size: 24px;
}

.fs36{
  font-size: 36px;
}

.fs48{
  font-size: 48px;
}

/*font weight*/
.fw1{
  font-weight: 100;
}

.fw2{
  font-weight: 200;
}

.fw3{
  font-weight: 300;
}

.fw4{
  font-weight: 400;
}

.fw5{
  font-weight: 500;
}

.fw6{
  font-weight: 600;
}

.fw7{
  font-weight: 700;
}

.fw8{
  font-weight: 800;
}

.fw9{
  font-weight: 900;
}

.fw18{
  font-weight:1800;
}


/* COLORS */
.c-w{
  color: #ffffff;
}

.bc-w{
  background-color: #ffffff;
}

.pc-w::placeholder{
  color: #ffffff;
  opacity: 1;
}


.c-b{
  color: #000000;
}

.bc-b{
  background-color: #000000;
}

.c-link{
  color: #1c78cd;
}

.bc-link{
  background-color: #1c78cd;
}

.c-lb{
  color: #686b6e;
}

.bc-lb{
  background-color: #686b6e;
}

.c-g{
  color: #999999;
}

.bc-g{
  background-color: #999999;
}

.c-lg{
  color: #CCCCCC;
}

.bc-lg{
  background-color: #CCCCCC;
}

.c-t{
  color: #ffffff00;
}

.bc-t{
  background-color: #ffffff00;
}


.c-y{
  color: #FFB319;
}

.bc-y{
  background-color: #FFB319;
}

.c-ly{
  color: #FFE194;
}

.bc-ly{
  background-color: #FFE194;
}

.c-bl{
  color: #b8dfd8;
}

.bc-bl{
  background-color: #b8dfd8;
}

.c-lbl{
  color: #e8f6ef;
}

.bc-lbl{
  background-color: #e8f6ef;
}

.c-br{
  color: #746643;
}

.bc-br{
  background-color: #746643;
}

.c-o{
  color: #ff5c00;
}

.bc-o{
  color: #ff5c00;
}





/*CONTAINER*/
.ctr{
  width: 80%;
  margin: auto;
  justify-content: center;
  display: block;
}

.ctr90{
  width: 90%;
  margin: auto;
  justify-content: center;
  display: block;
}

.d-p{
  display: block;
}



/*COLLUMS*/
.cola{
  width: auto;
}

.col1p {
  width: 1%;
}

.col5p {
  width: 5%;
}

.col10p {
  width: 10%;
}

.col20p {
  width: 20%;
}

.col24p {
  width: 24%;
}

.col25p {
  width: 25%;
}

.col30p {
  width: 30%;
}

.col33p {
  width: 33%;
}

.col40p {
  width: 40%;
}

.col45p {
  width: 45%;
}

.col47-5p {
  width: 47.5%;
}

.col50p {
  width: 50%;
}

.col60p {
  width: 60%;
}

.col66p {
  width: 66%;
}

.col70p {
  width: 70%;
}

.col75p {
  width: 75%;
}

.col80p {
  width: 80%;
}

.col90p {
  width: 90%;
}

.col95p {
  width: 95%;
}

.col98p {
  width: 98%;
}

.col100p {
  width: 100%;
}


/*ROWS*/
.row {
  width: 100%;
  display: flex;
  justify-content: center;
  float: left;
}

.rowr {
  width: 100%;
  display: flex;
  justify-content: right;
}

.row0 {
  width: 100%;
  display: flex;
  float: left;
}

.rowm {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  float: left;
}

/* center align */
.ca {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tac{
  text-align: center;
  }

/*POSITION */
.p-a{
  position: absolute;
}

.p-r{
  position: relative;
}

.p-f{
  position: fixed;
}

/*Z-INDEX - Z-INDEX - Z-INDEX - Z-INDEX - Z-INDEX - Z-INDEX -*/
.za{
  z-index: auto;
}

.z1{
  z-index: 1;
}

.z2{
  z-index: 2;
}

.z3{
  z-index: 3;
}

.z4{
  z-index: 4;
}

.z5{
  z-index: 5;
}

.z6{
  z-index: 6;
}

.z7{
  z-index: 7;
}

.z8{
  z-index: 8;
}

.z9{
  z-index: 9;
}



/*WIDTH*/
.wa{
  width: auto;
}

.w5p {
  width: 5%;
}

.w7-5p {
  width: 7.5%;
}

.w10p {
  width: 10%;
}

.w20p {
  width: 20%;
}

.w25p {
  width: 25%;
}

.w30p {
  width: 30%;
}

.w33p {
  width: 33%;
}

.w40p {
  width: 40%;
}

.w50p {
  width: 50%;
}

.w60p {
  width: 60%;
}

.w66p {
  width: 66%;
}

.w70p {
  width: 70%;
}

.w75p {
  width: 75%;
}

.w80p {
  width: 80%;
}

.w85p {
  width: 85%;
}

.w90p {
  width: 90%;
}

.w100p {
  width: 100%;
}

.w27r{
  width: 24rem;
}

.w10{
  width: 24em;
}

.w16{
  width: 16em;
}

.w1px{
  width: 1px;
}

.w2px{
  width: 2px;
}

.w4px{
  width: 4px;
}




/*HEIGT*/
.h10p{
  height: 10%;
}

.h20p{
  height: 20%;
}

.h30p{
  height: 30%;
}

.h40p{
  height: 40%;
}

.h50p{
  height: 50%;
}

.h60p{
  height: 60%;
}

.h70p{
  height: 70%;
}

.h75p{
  height: 75%;
}

.h80p{
  height: 80%;
}

.h90p{
  height: 90%;
}

.h100p{
  height: 100%;
}

.h10{
  height: 10em;
}

.h2px{
  height: 2px;
}

.h3px{
  height: 3px;
}

.h30{
  height: 30em;
}


/*PADDING*/ 
.p0-5 {
  padding: 0.5rem;
  }

.p1 {
  padding: 1em;
}

.p1-5 {
  padding: 1.5em;
}

.p2 {
  padding: 2em;
  }

.p3 {
  padding: 3em;
  }

/*padding left*/
.pl1{
  padding-left: 1rem;
}

.pl0-5 {
  padding-left: 0.5rem;
  }

/*padding right*/
.pr5p{
  padding-right: 5%;
}

.pr1{
  padding-right: 1rem;
}

.pr0-5 {
  padding-right: 0.5rem;
  }

/*padding top*/
.pt0-25{
  padding-top: 0.25em;
}

.pt0-5{
  padding-top: 0.5em;
}

.pt0-75{
  padding-top: 0.75em;
}

.pt1{
  padding-top: 1em;
}

.pt2{
  padding-top: 2em;
}

.pt3{
  padding-top: 3em;
}


/*padding bottem*/
.pb0-25{
  padding-bottom: 0.25em;
}

.pb0-5{
  padding-bottom: 0.5em;
}


.pb0-75{
  padding-bottom: 0.75em;
}

.pb1{
  padding-bottom: 1em;
}

.pb1-25{
  padding-bottom: 1.25em;
}

.pb3{
  padding-bottom: 3em;
}


/*padding horizontal*/
.ph0{
  padding-left: 0px;
  padding-right: 0px;
}

.ph1r{
  padding-left: 1rem;
  padding-right: 1rem;
}

.ph0-75{
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.ph1{
  padding-left: 1em;
  padding-right: 1em;
}

.ph2{
  padding-left: 2em;
  padding-right: 2em;
}

.ph3{
  padding-left: 3em;
  padding-right: 3em;
}

.ph5p{
  padding-left: 5%;
  padding-right: 5%;
}


/*padding vertical*/
.pv5p{
  padding-top: 5%;
  padding-bottom: 5%;
}

.pv50p{
  padding-top: 50%;
  padding-bottom: 50%;
}

.pv0-25{
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.pv0-5{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.pv0-75{
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.pv1{
  padding-top: 1em;
  padding-bottom: 1em;
}

.pv1-5{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.pv2{
  padding-top: 2em;
  padding-bottom: 2em;
}

.pv3{
  padding-top: 3em;
  padding-bottom: 3em;
}




/*MARGIN MARGIN MARGIN MARGIN MARGIN MARGIN MARGIN MARGIN MARGIN*/
.ma{
  margin: auto;
}

.m0-25{
  margin: 0.25em;
}
.m10p{
  margin: 10%;
}

.m20p{
  margin: 20%;
}

.m30p{
  margin: 30%;
}

.m35p{
  margin: 35%;
}

.m40p{
  margin: 40%;
}

.m50p{
  margin: 50%;
}

.m60p{
  margin: 60%;
}

.m70p{
  margin: 70%;
}

.m80p{
  margin: 80%;
}

.m90p{
  margin: 90%;
}

.m100p{
  margin: 100%;
}

.m0-5 {
  margin: 0.5rem;
}

.m1 {
  margin: 1rem;
}

.m2 {
  margin: 2rem;
}

.m4 {
  margin: 4rem;
}

/*margin top*/
.mta{
  margin-top: auto;
}

.mt-1{
  margin-top: -1em;
}

.mt-3{
  margin-top: -3em;
}

.mt-5{
  margin-top: -5em;
}

.mt-6{
  margin-top: -6em;
}

.mt30p{
  margin-top: 30%;
}

.mt0-25{
  margin-top: 0.25em;
}

.mt0-5{
  margin-top: 0.5em;
} 

.mt0-75{
  margin-top: 0.75em;
}

.mt0{
  margin-top: 0em;
}

.mt1{
  margin-top: 1em;
}

.mt1-75{
  margin-top: 1.75em;
}

.mt2{
  margin-top: 2em;
}

.mt3{
  margin-top: 3em;
}

.mt3-5{
  margin-top: 3.5em;
}

.mt4-5{
  margin-top: 4.5em;
}

.mt5{
  margin-top: 5em;
}

.mt5-5{
  margin-top: 5.5em;
}

.mt6{
  margin-top: 6em;
}

.mt10{
  margin-top: 10em;
}

.mt20{
  margin-top: 20em;
}

.mt30{
  margin-top: 30em;
}

.mt6px {
  margin-top: 6px;
}

.mt30px {
  margin-top: 30px;
}

.mt75px{
  margin-top: 75px;
}

.mt76px{
  margin-top: 76px;
}

/* margin bottom*/
.mb0{
  margin-bottom: 0em;
}

.mb0-5{
  margin-bottom: 0.5em;
}

.mb1{
  margin-bottom: 1em;
}

.mb4-5{
  margin-bottom: 4.5em;
}


.mb5{
  margin-bottom: 5em;
}




/*margin left*/
.ml2-5p{
  margin-left: 2.%;
}

.ml5p{
  margin-left: 5%;
}

.ml10p{
  margin-left: 10%;
}

.ml15p{
  margin-left: 15%;
}

.ml35p{
  margin-left: 35%;
}

.ml50p{
  margin-left: 50%;
}

.ml0-25{
  margin-left: 0.25em;
}

.ml0-5{
  margin-left: 0.5em;
}

.ml1{
  margin-left: 1em;
}

.ml2{
  margin-left: 2em;
}

.ml3{
  margin-left: 3em;
}

.ml4{
  margin-left: 4em;
}

.ml5{
  margin-left: 5em;
}

.ml5-5{
  margin-left: 5.5em;
}

.ml10{
  margin-left: 10em;
}

/* margin right*/
.mr2-5p{
  margin-right: 2.%;
}

.mr5p{
  margin-right: 5%;
}

.mr10p{
  margin-right: 10%;
}

.mr35p{
  margin-right: 35%;
}

.mr0-25{
  margin-right: 0.25em;
}

.mr0-5{
  margin-right: 0.5em;
}

.mr1{
  margin-right: 1em;
}

.mr2{
  margin-right: 2em;
}

.mr3{
  margin-right: 3em;
}

.mr4{
  margin-right: 4em;
}

.mr5{
  margin-right: 5em;
}

/*margin vertical*/
.mva {
  margin-top: auto;
  margin-bottom: auto;
}

.mv0-25 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mv0-5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mv1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mv2 {
  margin-top: 2em;
  margin-bottom: 2rem;
}

.mv15p{
  margin-top: 15px;
  margin-bottom: 15px;
}
.mv10p{
  margin-top: 10%;
  margin-bottom: 10%;
}

.mv20p{
  margin-top: 20%;
  margin-bottom: 20%;
}

.mv30p{
  margin-top: 30%;
  margin-bottom: 30%;
}

.mv40p{
  margin-top: 40%;
  margin-bottom: 40%;
}

.mv50p{
  margin-top: 50%;
  margin-bottom: 50%;
}

.mv60p{
  margin-top: 60%;
  margin-bottom: 60%;
}

.mv70p{
  margin-top: 70%;
  margin-bottom: 70%;
}

.mv80p{
  margin-top: 80%;
  margin-bottom: 80%;
}

.mv90p{
  margin-top: 90%;
  margin-bottom: 90%;
}

.mv100p{
  margin-top: 100%;
  margin-bottom: 100%;
}

/*margin horizontal*/
.mh0-25{
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.mh0-5{
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.mh3{
  margin-left: 3em;
  margin-right: 3em;
}

.mh10p{
  margin-left: 10%;
  margin-right: 10%;
}

.mh20p{
  margin-left: 20%;
  margin-right: 20%;
}

.mh30p{
  margin-left: 30%;
  margin-right: 30%;
}

.mh40p{
  margin-left: 40%;
  margin-right: 40%;
}

.mh50p{
  margin-left: 50%;
  margin-right: 50%;
}

.mh60p{
  margin-left: 60%;
  margin-right: 60%;
}

.mh70p{
  margin-left: 70%;
  margin-right: 70%;
}

.mh80p{
  margin-left: 80%;
  margin-right: 80%;
}

.mh90p{
  margin-left: 90%;
  margin-right: 90%;
}

.mh100p{
  margin-left: 100%;
  margin-right: 100%;
}

.mh1{
  margin-left: 1em;
  margin-right: 1em;
}

.mh2{
  margin-left: 2rem;
  margin-right: 2rem;
}




/*FLOAT - FLOAT - FLOAT - FLOAT - FLOAT - FLOAT - FLOAT - FLOAT - FLOAT*/
.fl{
  float: left;
}

.fr{
  float: right;
}

/*BORDER - BORDER - BORDER - BORDER - BORDER - BORDER - BORDER - BORDER -*/
.b0{
  border: 0px;
}

.b1b{
  border: black;
  border-style: solid;
  border-width: 1px;
}

.b1g{
  border: #999999;
  border-style: solid;
  border-width: 1px;
}

.b1r{
  border: red;
  border-style: solid;
  border-width: 1px;
}

.b2ly{
  border: #FFE194;
  border-style: solid;
  border-width: 2px;
}

.br1lb{
  border: 0px solid #686b6e;
  border-right: 1px;
}

/*border radius*/
.br0-5{
  border-radius: 0.5em;
}

.br1{
  border-radius: 1em;
}

.br1-5{
  border-radius: 1.5em;
}

.br2{
  border-radius: 2em;
}

/* SHADOW*/
.bs1g{
  box-shadow: 0 1px #999;
}

.bs3g{
  box-shadow: 0 3px #999;
}

.bs1b{
  box-shadow: 0 1px #000000;
}

.bs2b{
  box-shadow: 0 2px #000000;
}

.bs3b{
  box-shadow: 0 3px #000000;
}

.modallayer {
  z-index: 3;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0,0,4);
}

.modalhidden {
  display: none !important;
}

.modalshow {
  display: block !important;
}