.upload-div2 {
  height: auto;
}

.upload-div1-p {
  margin: 1% 0 0 5%;
}

.upload-div2-1 {
  display: flex;
  width: 100%;
  height: 580px;
  float: left;
  border-radius: 10px;
}

.upload-div2-2 {
  display: flex;
  height: 275px;
  width: 100%;
  border-radius: 10px;
}

.upload-div2-3 {
  display: inline-block;
  align-self: flex-end;
  height: 275px;
  border-radius: 10px;
  width: 100%;
}

.upload-div2-4 {
  display: flex;
  width: 100%;
  height: 435px;
  float: left;
  border-radius: 10px;
}

.upload-div2-5 {
  display: flex;
  height: 435px;
  width: 100%;
  border-radius: 10px;
}

.upload-div2-6 {
  display: inline-block;
  height: 4em;
  border-radius: 6px;
}

.clear-button {
  transition-duration: 0.2s;
  border: 10px;
  border-radius: 6px;
}

.clear-button:hover {
  background-color: red;
  color: black;
}

.confirm-button:hover{
  background-color: green;
}

.deny-button:hover{
  background-color: red;
}

.confirm-button,
.deny-button{
  transition-duration: 0.2s;
  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;
  border: 0px;
  border-radius: 15px;
  box-shadow: 0 3px #999;
}

input, textarea{
  padding: 15px;
  border: 0px;
  border-radius: 15px;
  box-shadow: 0 3px #999;
}

