<!DOCTYPE html>
<html>

<head>
  <title>Upload a room</title>

  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/uploadroom-stylesheet.css') }}" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>

  <script src="https://kit.fontawesome.com/739df3285b.js" crossorigin="anonymous"></script>
</head>

<body>
  <div>
    <div class="row">
      <div class="col100p">
        <ul class="ul-nav w100p mt0 bc-y bs1b">
          <li class="li-nav fl"><a href="http://127.0.0.1:5000/index" class="fl"><img height="56px"
                src="{{ url_for('static', filename='/images/logo-transparent.png') }}" alt="Accomodo"></a></li>
          <li class="li-nav ml1 mr4 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22"
              href=http://127.0.0.1:5000/account><i class="fa-sharp fa-regular fa-user"></i> {{ naam }}</a></li>
          <li class="li-nav mh1 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22"
              href=http://127.0.0.1:5000/messages><i class="fa-sharp fa-regular fa-message"></i> Messages</a></li>
          <li class="li-nav mh1 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22"
              href=http://127.0.0.1:5000/favorites><i class="fa-regular fa-heart"></i> Favorites</a></li>
          <li class="li-nav-dd fr mh1 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22"><i
                class="fa-solid fa-house"></i> Rooms <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
              <a href="http://127.0.0.1:5000/rooms">Our vision</a>
              <a href="http://127.0.0.1:5000/uploadroom">Upload room</a>
              <a href="http://127.0.0.1:5000/result">View rooms</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="ctr upload-div2 mh10p">
      <div class="row mt5">
        <div class="col100p">
          <p class="ml2"><a href="http://127.0.0.1:5000/index">Homepage </a> > <a
              href="http://127.0.0.1:5000/result">Room overview </a>> Room details</p>
          <!--default port might not work for everyone-->

        </div>
      </div>

      <div class="rowm">

        <div class="col75p p1">
          <div class="upload-div2-1 bc-bl">
            <div class="ctr">
              <img class="br0-5 m1 w100p" src="{{ url_for('uploaded_image', filename=house_details[9]) }}"
                alt="image of room" />

            </div>
          </div>
        </div>
        <div class="col25p p1">
          <div class="upload-div2-2 bc-ly">
            <div class="row">
              <div class="col100p">
                <br><span class="tac fs36 fw9 ca mv1">City:</span>
                <br> <br><span class="ca fs36">{{house_details[1]}}</span>
              </div>
            </div>
          </div>
          <div class="upload-div2-2 bc-ly mt30px">
            <div class="row">
              <div class="col100p">
                <br><span class="tac fs36 fw9 ca mv1">Room size:</span>
                <br> <br><span class="ca fs36">{{house_details[4]}} m2</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="rowm">
        <div class="col75p p1">
          <div class="rowm">
            <div class="col33p pr1">
              <div class="ctr upload-div2-3 bc-lbl">
                <div class="br0-5 ca">
                  <img class="w80p br0-5 mv1" alt="image of room"
                    src="{{ url_for('static', filename='/images/no-image.png') }}" />
                </div>
              </div>
            </div>
            <div class="col33p ph1r">
              <div class="ctr upload-div2-3 bc-lbl">
                <div class="br0-5 ca">
                  <img class="w80p br0-5 mv1" alt="image of room"
                    src="{{ url_for('static', filename='/images/no-image.png') }}" />
                </div>
              </div>
            </div>
            <div class="col33p pl1">
              <div class="ctr upload-div2-3 bc-lbl">
                <div class=" br0-5 ca">
                  <img class="w80p br0-5 mv1" alt="image of room"
                    src="{{ url_for('static', filename='/images/no-image.png') }}" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col25p p1">
          <div class="upload-div2-2 bc-ly">
            <div class="row">
              <div class="col100p">
                <br><span class="tac fs36 fw9 ca mv1">Room price:</span>
                <br> <br><span class="ca fs36 ">€ {{house_details[6]}},-</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col100p">
          <div class="row">
            <div class="col100p">
              <hr class="c-bw mh1 bs1g">
            </div>
          </div>
          <div class="row">
            <div class="col80p">
              <div class="row0">
                <div class="col100p">
                  <span class="ml1 fs24 fw9">{{house_details[2]}} {{house_details[3]}},</span>
                </div>
              </div>
              <div class="row0">
                <div class="col100p">
                  <span class="ml1 fs24">{{house_details[1]}}</span>
                </div>
              </div>
            </div>
            <div class="col20p ca">
              <a class="favorite" href=""><i class="fa-solid fa-heart c-g mt6px fs48"></i></a> <!--Button to favorite-->
            </div>
          </div>


          <div class="row0">
            <div class="col100p">
              <hr class="c-b mh1 bs1g">
            </div>
          </div>
        </div>
      </div>

      <div class="row mt1">
        <div class="col70p mr2">
          <div class="row">
            <div class="col100p bc-lbl br0-5 mb0-5">
              <div class="m1">
                <span class="fs24 fw9">Description:</span> <br>
                <br><span class="">{{house_details[5]}}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col50p mr0-25 bc-lbl br0-5">
              <div class="m1">
                <span class="fs24 fw9">Room details:</span><br>
                <br><span class="">{{house_details[7]}}</span>
              </div>            
            </div>
            <div class="col50p ml0-25 bc-lbl br0-5"> 
              <div class="m1">
                <span class="fs24 fw9">Map:</span>
                <div class="ctr">
                  <img class="w100p br0-5" src="{{ url_for('static', filename='/images/map.png') }}" alt="no img">
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col30p">
          <div class="row">
            <div class="col100p bc-y br0-5 pb1">
              <div class="m1 tac">
                <div class="row">
                  <div class="col100p">
                    <span class="fs24 fw9">Contact:</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col100p mt1">
                    <div class="ctr">
                      <img class="w100p br0-5" src="{{ url_for('static', filename='/images/no-image.png') }}" alt="no img">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col100p mv0-5">
                    <span class="">Name: {{house_details [10]}} {{house_details [11]}} </span>
                  </div>
                </div>

                <div class="row">
                  <div class="col100p mv0-5">
                    <span class="">Languages: </span>
                  </div>
                </div>

                <div class="row">
                  <div class="col100p mv0-5">
                    <form action="http://127.0.0.1:5000/messages">
                      <button class="bc-lbl p0-5 br0-5 b0 bs1g hvr-cbl">Send messages</button>
                    </form>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col100p bc-bl mt5 pt1">
        <div class="row">
          <div class="col24p">
            <div class="row">
              <div class="col100p ca br1lb">
                <img class="w80p" src="{{ url_for('static', filename='/images/logo-transparent.png') }}"
                  alt="Accomodo logo">
              </div>
            </div>
            <div class="row">
              <div class="col100p tac">
                <span class="fs12 c-lb">Accomodo <i class="fa-regular fa-copyright"></i> 2023, all rights
                  reserved</span>
              </div>

            </div>
          </div>
          <div class="col1p">
            <div class="bc-b mt-1 w2px h100p pb1">
            </div>
          </div>
          <div class="col25p">
            <div class="ml50p">
              <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/rooms">Our vision</a><br>
              <a class="c-b ftr-h ml1 noline" href="http://127.0.0.1:5000/uploadroom">Upload room</a><br>
              <a class="c-b ftr-h ml1 noline" href="http://127.0.0.1:5000/result">View rooms</a><br>
              <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/favorites">Favorites</a><br>
              <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/messages">Messages</a><br>
              <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/account">Account</a><br>
            </div>
          </div>
          <div class="col25p">
            <div class="ml35p">
              <span>Contact:</span>
              <span>Princetonplein 5, </span><br>
              <span>3584 CC Utrecht, the Netherlands</span>
              <br><br>
              <span>Phone: <a class="c-link" href="tel:+31 6 21605501">+31 6 21605501</a></span><br>
              <span>Email: <a class="c-link"
                  href="mailto:Customers@Accomodo.info">Customers@Accomodo.info</a></span><br>

            </div>
          </div>
          <div class="col25p tac">
            <span>Follow us:</span><br> <br>
            <a class="c-b ftr-h" href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2xl"></i> </a>
            <a class="c-b ftr-h" href="https://www.twitter.com/"><i class="fa-brands fa-twitter fa-2xl"></i></a>
            <a class="c-b ftr-h" href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Get the favorite button element
    var favoriteButton = document.querySelector('.favorite');

    // Add a click event listener to the button
    favoriteButton.addEventListener('click', function (event) {
      event.preventDefault(); // Prevent the default link behavior
      favoriteButton.classList.toggle('active'); // Toggle the 'active' class on button click
    });
  </script>

</body>

</html>