<!DOCTYPE html>
<html>

<head>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/overview-stylesheet.css') }}" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>

  <script src="https://kit.fontawesome.com/739df3285b.js" crossorigin="anonymous"></script>

  <title>Homepage</title>

</head>

<body style="height: 100vh; width: 100vw;">
  <div>
    <div class="row mb4-5">
      <div class="col100p">
        <ul class="ul-nav w100p mt0 bc-y bs1b">
          <li class="li-nav fl"><a href="http://127.0.0.1:5000/index" class="fl"><img height="56px"
                src="{{ url_for('static', filename='/images/logo-transparent.png') }}" alt="Accomodo"></a></li>
          <li class="li-nav ml1 mr4 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22" href="./account"><i
                class="fa-sharp fa-regular fa-user"></i> {{ naam }}</a></li>
          <li class="li-nav mh1 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22" href=./messages><i
                class="fa-sharp fa-regular fa-message"></i> Messages</a></li>
          <li class="li-nav mh1 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22" href=./favorites><i
                class="fa-regular fa-heart"></i> Favorites</a></li>
          <li class="li-nav-dd fr mh1 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22"><i
                class="fa-solid fa-house"></i> Rooms <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
              <a href="http://127.0.0.1:5000/rooms">Our vision</a>
              <a href="http://127.0.0.1:5000/uploadroom">Upload room</a>
              <a href="http://127.0.0.1:5000/result">View rooms</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="">
      <div class="rowr">
        <div class="cola">
          <form method="GET" action="/uploadroom" class="knop">
            <button class="bc-bl fs18 p0-5 ph1 mr0-5 mb0-5 br2 b0 bs3g hvr-clbl">Upload room</button>
          </form>
        </div>

        <div class="cola">
          <form method="GET" action="./result" class="knop">
            <button class="bc-bl fs18 p0-5 ph1 mr0-5 mb0-5 br2 b0 bs3g hvr-clbl">View rooms</button>
          </form>
        </div>

        <div class="cola">
          <button class="bc-bl fs18 p0-5 ph1 mr0-5 mb0-5 br2 b0 bs3g hvr-clbl" onclick="openFormLogin()">Login</button>
        </div>

        <div class="cola">
          <button class="bc-bl fs18 p0-5 ph1 mr1 mb0-5 br2 b0 bs3g hvr-clbl" onclick="openFormRegister()">Create account</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col100p ca">
      <img class="w90p mt-6" src="{{ url_for('static', filename='/images/Huisjes.png') }}" alt="Pictogram of houses">
    </div>
  </div>
  <div class="row ca">
    <div class="col100p">
      <div class="bc-bl ca pb3">
        <span class="c-w fs48 fw9 pt0-5 pb0-25">Welcome to <span class="c-b fs48 fw9">Accomodo</span></span>
        <span class="c-w fs24 pb0-5">The internationals' favorite roomfinder</span>
      </div>
    </div>
    <div class="col100p ca">
      <div class="bc-y w66p pb1 pt0-25 ph0-75 br0-5 mt-3">
        <div class="row">
          <div class="col30p ca">
            <span class="c-w pv0-25">Location:</span>
          </div>
          <div class="col30p ca">
            <span class="c-w pv0-25">Size:</span>
          </div>
          <div class="col30p ca">
            <span class="c-w pv0-25">Price:</span>
          </div>
          <div class="col10p ca">
            <span class="c-w pv0-25"></span>
          </div>
        </div>

        <div class="row">
          <div class="col30p">
            <form action="/result">
              <select class="bc-ly br0-5 b0 p1 ph2 bs3g w90p">
                <option class="hvr-cy" value="">Amsterdam</option>
                <option value="">Groningen</option>
                <option value="">Maastricht</option>
                <option value="">Utrecht</option>
                <option value="">Rotterdam</option>
              </select>
          </div>

          <div class="col30p">
            <select class="bc-ly br0-5 b0 p1 ph2 bs3g w90p">
              <option value="">10m<sup>2</sup> or more</option>
              <option value="">15m<sup>2</sup> or more</option>
              <option value="">20m<sup>2</sup> or more</option>
              <option value="">25m<sup>2</sup> or more</option>
              <option value="">30m<sup>2</sup> or more</option>
            </select>
          </div>

          <div class="col30p">
            <input class="bc-ly pc-b br0-5 b0 p1 ph2 bs3g w70p" type="text" name="" id="" placeholder="Price in €">
          </div>
          <div class="col10p">
            <button class="bc-lbl br0-5 b0 p1 ph2 bs3g fr hvr-cbl" type="submit">Search...</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ctr">
    <div class="row mt2">
      <div class="col100p"> <!--  mt3 bc-lg bs3g br0-5 pv0-75-->
        <div class="row">
          <div class="col50p bc-lbl br0-5 mh1">
            <div class="row">
              <div class="col100p tac mv1">
                <span class="c-b fs36 fw9">How does it work? - Renters</span>
                <hr class="w50p br2 b2ly">
              </div>
            </div>
            <div class="row">
              <div class="col100p tac">
                <span class="fs24 fw9">Locate.</span>
              </div>
            </div>

            <div class="row">
              <div class="col100p tac">
                <span class="fs18">Type in your location and your prefrences. </span>
              </div>
            </div>

            <div class="row">
              <div class="col100p tac  mt1">
                <span class="fs24 fw9">Pick.</span>
              </div>
            </div>

            <div class="row">
              <div class="col100p tac">
                <span class="fs18">Pick an <span class="fs18 fw9 c-y">Accomodo</span> that you like.</span>
              </div>
            </div>

            <div class="row">
              <div class="col100p tac  mt1">
                <span class="fs24 fw9"> Communicate. </span>
              </div>
            </div>

            <div class="row">
              <div class="col100p tac mb1">
                <span class="fs18">Add it to your favorites and message the landlord.</span>
              </div>
            </div>
          </div>

          <div class="col50p bc-lbl br0-5 mh1">
            <div class="row">
              <div class="col100p tac mv1">
                <span class="c-b fs36 fw9">How does it work? - Landlords</span>
                <hr class="w50p br2 b2ly">
              </div>
            </div>

            <div class="row">
              <div class="col100p tac">
                <span class="fs24 fw9">Available.</span>
              </div>
            </div>
            <div class="row">
              <div class="col100p tac">
                <span class="fs18">Have a room available in your house. </span>
              </div>
            </div>

            <div class="row">
              <div class="col100p tac  mt1">
                <span class="fs24 fw9">Upload.</span>
              </div>
            </div>
            <div class="row">
              <div class="col100p tac">
                <span class="fs18">Upload the room to <span class="fs18 fw9 c-y">Accomodo</span>.</span>
              </div>
            </div>

            <div class="row">
              <div class="col100p tac mt1">
                <span class="fs24 fw9"> Communicate. </span>
              </div>
            </div>
            <div class="row">
              <div class="col100p tac mb1">
                <span class="fs18">Talk to potential tenents and select one.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col100p bc-bl mt5 pt1">
      <div class="row">
        <div class="col24p">
          <div class="row">
            <div class="col100p ca br1lb">
              <img class="w80p" src="{{ url_for('static', filename='/images/logo-transparent.png') }}"
                alt="Accomodo logo">
            </div>
          </div>
          <div class="row">
            <div class="col100p tac">
              <span class="fs12 c-lb">Accomodo <i class="fa-regular fa-copyright"></i> 2023, all rights
                reserved</span>
            </div>

          </div>
        </div>
        <div class="col1p">
          <div class="bc-b mt-1 w2px h100p pb1">
          </div>
        </div>
        <div class="col25p">
          <div class="ml50p ">
            <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/rooms">Our vision</a><br>
            <a class="c-b ftr-h ml1 noline" href="http://127.0.0.1:5000/uploadroom">Upload room</a><br>
            <a class="c-b ftr-h ml1 noline" href="http://127.0.0.1:5000/result">View rooms</a><br>
            <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/favorites">Favorites</a><br>
            <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/messages">Messages</a><br>
            <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/account">Account</a><br>
          </div>
        </div>
        <div class="col25p">
          <div class="ml35p">
            <span>Contact:</span>
            <span>Princetonplein 5, </span><br>
            <span>3584 CC Utrecht, the Netherlands</span>
            <br><br>
            <span>Phone: <a class="c-link" href="tel:+31 6 21605501">+31 6 21605501</a></span><br>
            <span>Email: <a class="c-link" href="mailto:Customers@Accomodo.info">Customers@Accomodo.info</a></span><br>

          </div>
        </div>
        <div class="col25p tac">
          <span>Follow us:</span><br> <br>
          <a class="c-b ftr-h" href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2xl"></i> </a>
          <a class="c-b ftr-h" href="https://www.twitter.com/"><i class="fa-brands fa-twitter fa-2xl"></i></a>
          <a class="c-b ftr-h" href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
        </div>
      </div>
    </div>
  </div>


  <div class="form-popup" id="login">
    <form action="/login" method="POST" class="form-container"><!--hier moet nog link bij action-->
      <div class="row tac">
        <div class="col95p">
          <span>Login</span>
        </div>
        <div class="col5p">
          <button type="button" class="button cancel" onclick="closeFormLogin()">-</button>
        </div>
      </div>

      <div class="row">
        <div class="col80p">
          <label for="email"><b>Email:</b></label>
        </div>
      </div>
      <div class="row">
        <div class="col80p">
          <input class="w100p b0 bc-ly br0-5 pv1 ph0 ti10px" type="text" placeholder="Someone@example.com"
            name="email" required>
        </div>
      </div>

      <div class="row">
        <div class="col80p mt0-5">
          <label for="email"><b>Password:</b></label>
        </div>
      </div>
      <div class="row">
        <div class="col80p">
          <input class="w100p b0 bc-ly br0-5 pv1 ph0 ti10px" type="password" placeholder="Password" name="psw"
            required>
        </div>
      </div>
      <div class="row">
        <div class="col100p">
          <a href="###forgotpsw###">
            <p>Forgot password?</p>
          </a><!--hier moet nog link bij href-->
        </div>
      </div>
      <div class="row">
        <div class="col100p">
          <button type="submit" class="form-confirm">Log in</button>
        </div>
      </div>
    </form>
  </div>
  
  <div class="form-popup modalhidden" id="register">
    <div class="ctr">
      <form method="POST" action="/accountcreated" class="form-container"><!--hier moet nog link bij action-->
        <div class="row tac">
          <div class="col95p">
            <span>Create account</span>
          </div>
          <div class="col5p">
            <button type="button" class="button cancel" onclick="closeFormRegister()">-</button>
          </div>
        </div>

        <div class="row">
          <div class="col100p">
            <label for="email"><b>Email</b></label>
          </div>
        </div>
        <div class="row">
          <div class="col100p">
            <input class="w100p b0 bc-ly br0-5 pv1 ph0 ti10px" type="text" placeholder="Someone@example.com"
              name="email" required>
          </div>
        </div>

        <div class="row">
          <div class="col100p mt0-5">
            <label for="name"><b>Name</b></label>
          </div>
        </div>
        <div class="row">
          <div class="col50p mr0-5">
            <input class="name w100p fl b0 bc-ly br0-5 pv1 ph0 ti10px" type="text" placeholder="First name" name="name"
              required>
          </div>
          <div class="col50p ml0-5">
            <input class="name w100p fr b0 bc-ly br0-5 pv1 ph0 ti10px" type="text" placeholder="Last name"
              name="lastname" required>
          </div>
        </div>

        <div class="row">
          <div class="col100p mt0-5">
            <label for="bd"><b>Birthday</b></label>
          </div>
        </div>
        <div class="row">
          <div class="col100p">
            <input class="w100p b0 bc-ly br0-5 pv1 ph0 ti10px" placeholder="Birthday" type="date" name="bd" required>
          </div>
        </div>

        <div class="row">
          <div class="col100p mt0-5">
            <label for="ctry"><b>Nationality</b></label>
          </div>
        </div>
        <div class="row">
          <div class="col100p">
            <select class="w100p b0 bc-ly br0-5 pv1 ph0 ti10px" id="nationality" name="nationality"
              data-name="nationality" class="select-field w-select">
              <option value="">Select one...</option>
              <option value="">---</option>
              <option value='afghan'>Afghan</option>
              <option value='albanian'>Albanian</option>
              <option value='algerian'>Algerian</option>
              <option value='american'>American</option>
              <option value='andorran'>Andorran</option>
              <option value='angolan'>Angolan</option>
              <option value='anguillan'>Anguillan</option>
              <option value='citizen-of-antigua-and-barbuda'>Citizen of Antigua and Barbuda</option>
              <option value='argentine'>Argentine</option>
              <option value='armenianaustralian'>ArmenianAustralian</option>
              <option value='austrian'>Austrian</option>
              <option value='azerbaijani'>Azerbaijani</option>
              <option value='bahamian'>Bahamian</option>
              <option value='bahraini'>Bahraini</option>
              <option value='bangladeshi'>Bangladeshi</option>
              <option value='barbadian'>Barbadian</option>
              <option value='belarusian'>Belarusian</option>
              <option value='belgian'>Belgian</option>
              <option value='belizean'>Belizean</option>
              <option value='beninese'>Beninese</option>
              <option value='bermudian'>Bermudian</option>
              <option value='bhutanese'>Bhutanese</option>
              <option value='bolivian'>Bolivian</option>
              <option value='citizen-of-bosnia-and-herzegovina'>Citizen of Bosnia and Herzegovina</option>
              <option value='botswanan'>Botswanan</option>
              <option value='brazilian'>Brazilian</option>
              <option value='british'>British</option>
              <option value='british-virgin-islander'>British Virgin Islander</option>
              <option value='bruneian'>Bruneian</option>
              <option value='bulgarian'>Bulgarian</option>
              <option value='burkinan'>Burkinan</option>
              <option value='burmese'>Burmese</option>
              <option value='burundian'>Burundian</option>
              <option value='cambodian'>Cambodian</option>
              <option value='cameroonian'>Cameroonian</option>
              <option value='canadian'>Canadian</option>
              <option value='cape-verdean'>Cape Verdean</option>
              <option value='cayman-islander'>Cayman Islander</option>
              <option value='central-african'>Central African</option>
              <option value='chadian'>Chadian</option>
              <option value='chilean'>Chilean</option>
              <option value='chinese'>Chinese</option>
              <option value='colombian'>Colombian</option>
              <option value='comoran'>Comoran</option>
              <option value='congolese-(congo)'>Congolese (Congo)</option>
              <option value='congolese-(drc)'>Congolese (DRC)</option>
              <option value='cook-islander'>Cook Islander</option>
              <option value='costa-rican'>Costa Rican</option>
              <option value='croatian'>Croatian</option>
              <option value='cuban'>Cuban</option>
              <option value='cymraes'>Cymraes</option>
              <option value='cymro'>Cymro</option>
              <option value='cypriot'>Cypriot</option>
              <option value='czech'>Czech</option>
              <option value='danish'>Danish</option>
              <option value='djiboutian'>Djiboutian</option>
              <option value='dominican'>Dominican</option>
              <option value='citizen-of-the-dominican-republic'>Citizen of the Dominican Republic</option>
              <option value='dutch'>Dutch</option>
              <option value='east-timorese'>East Timorese</option>
              <option value='ecuadorean'>Ecuadorean</option>
              <option value='egyptian'>Egyptian</option>
              <option value='emirati'>Emirati</option>
              <option value='english'>English</option>
              <option value='equatorial-guinean'>Equatorial Guinean</option>
              <option value='eritrean'>Eritrean</option>
              <option value='estonian'>Estonian</option>
              <option value='ethiopian'>Ethiopian</option>
              <option value='faroese'>Faroese</option>
              <option value='fijian'>Fijian</option>
              <option value='filipino'>Filipino</option>
              <option value='finnish'>Finnish</option>
              <option value='french'>French</option>
              <option value='gabonese'>Gabonese</option>
              <option value='gambian'>Gambian</option>
              <option value='georgian'>Georgian</option>
              <option value='german'>German</option>
              <option value='ghanaian'>Ghanaian</option>
              <option value='gibraltarian'>Gibraltarian</option>
              <option value='greek'>Greek</option>
              <option value='greenlandic'>Greenlandic</option>
              <option value='grenadian'>Grenadian</option>
              <option value='guamanian'>Guamanian</option>
              <option value='guatemalan'>Guatemalan</option>
              <option value='citizen-of-guinea-bissau'>Citizen of Guinea-Bissau</option>
              <option value='guinean'>Guinean</option>
              <option value='guyanese'>Guyanese</option>
              <option value='haitian'>Haitian</option>
              <option value='honduran'>Honduran</option>
              <option value='hong-konger'>Hong Konger</option>
              <option value='hungarian'>Hungarian</option>
              <option value='icelandic'>Icelandic</option>
              <option value='indian'>Indian</option>
              <option value='indonesian'>Indonesian</option>
              <option value='iranian'>Iranian</option>
              <option value='iraqi'>Iraqi</option>
              <option value='irish'>Irish</option>
              <option value='israeli'>Israeli</option>
              <option value='italian'>Italian</option>
              <option value='ivorian'>Ivorian</option>
              <option value='jamaican'>Jamaican</option>
              <option value='japanese'>Japanese</option>
              <option value='jordanian'>Jordanian</option>
              <option value='kazakh'>Kazakh</option>
              <option value='kenyan'>Kenyan</option>
              <option value='kittitian'>Kittitian</option>
              <option value='citizen-of-kiribati'>Citizen of Kiribati</option>
              <option value='kosovan'>Kosovan</option>
              <option value='kuwaiti'>Kuwaiti</option>
              <option value='kyrgyz'>Kyrgyz</option>
              <option value='lao'>Lao</option>
              <option value='latvian'>Latvian</option>
              <option value='lebanese'>Lebanese</option>
              <option value='liberian'>Liberian</option>
              <option value='libyan'>Libyan</option>
              <option value='liechtenstein-citizen'>Liechtenstein citizen</option>
              <option value='lithuanian'>Lithuanian</option>
              <option value='luxembourger'>Luxembourger</option>
              <option value='macanese'>Macanese</option>
              <option value='macedonian'>Macedonian</option>
              <option value='malagasy'>Malagasy</option>
              <option value='malawian'>Malawian</option>
              <option value='malaysian'>Malaysian</option>
              <option value='maldivian'>Maldivian</option>
              <option value='malian'>Malian</option>
              <option value='maltese'>Maltese</option>
              <option value='marshallese'>Marshallese</option>
              <option value='martiniquais'>Martiniquais</option>
              <option value='mauritanian'>Mauritanian</option>
              <option value='mauritian'>Mauritian</option>
              <option value='mexican'>Mexican</option>
              <option value='micronesian'>Micronesian</option>
              <option value='moldovan'>Moldovan</option>
              <option value='monegasque'>Monegasque</option>
              <option value='mongolian'>Mongolian</option>
              <option value='montenegrin'>Montenegrin</option>
              <option value='montserratian'>Montserratian</option>
              <option value='moroccan'>Moroccan</option>
              <option value='mosotho'>Mosotho</option>
              <option value='mozambican'>Mozambican</option>
              <option value='namibian'>Namibian</option>
              <option value='nauruan'>Nauruan</option>
              <option value='nepalese'>Nepalese</option>
              <option value='new-zealander'>New Zealander</option>
              <option value='nicaraguan'>Nicaraguan</option>
              <option value='nigerian'>Nigerian</option>
              <option value='nigerien'>Nigerien</option>
              <option value='niuean'>Niuean</option>
              <option value='north-korean'>North Korean</option>
              <option value='northern-irish'>Northern Irish</option>
              <option value='norwegian'>Norwegian</option>
              <option value='omani'>Omani</option>
              <option value='pakistani'>Pakistani</option>
              <option value='palauan'>Palauan</option>
              <option value='palestinian'>Palestinian</option>
              <option value='panamanian'>Panamanian</option>
              <option value='papua-new-guinean'>Papua New Guinean</option>
              <option value='paraguayan'>Paraguayan</option>
              <option value='peruvian'>Peruvian</option>
              <option value='pitcairn-islander'>Pitcairn Islander</option>
              <option value='polish'>Polish</option>
              <option value='portuguese'>Portuguese</option>
              <option value='prydeinig'>Prydeinig</option>
              <option value='puerto-rican'>Puerto Rican</option>
              <option value='qatari'>Qatari</option>
              <option value='romanian'>Romanian</option>
              <option value='russian'>Russian</option>
              <option value='rwandan'>Rwandan</option>
              <option value='salvadorean'>Salvadorean</option>
              <option value='sammarinese'>Sammarinese</option>
              <option value='samoan'>Samoan</option>
              <option value='sao-tomean'>Sao Tomean</option>
              <option value='saudi-arabian'>Saudi Arabian</option>
              <option value='scottish'>Scottish</option>
              <option value='senegalese'>Senegalese</option>
              <option value='serbian'>Serbian</option>
              <option value='citizen-of-seychelles'>Citizen of Seychelles</option>
              <option value='sierra-leonean'>Sierra Leonean</option>
              <option value='singaporean'>Singaporean</option>
              <option value='slovak'>Slovak</option>
              <option value='slovenian'>Slovenian</option>
              <option value='solomon-islander'>Solomon Islander</option>
              <option value='somali'>Somali</option>
              <option value='south-african'>South African</option>
              <option value='south-korean'>South Korean</option>
              <option value='south-sudanese'>South Sudanese</option>
              <option value='spanish'>Spanish</option>
              <option value='sri-lankan'>Sri Lankan</option>
              <option value='st-helenian'>St Helenian</option>
              <option value='st-lucian'>St Lucian</option>
              <option value='stateless'>Stateless</option>
              <option value='sudanese'>Sudanese</option>
              <option value='surinamese'>Surinamese</option>
              <option value='swazi'>Swazi</option>
              <option value='swedish'>Swedish</option>
              <option value='swiss'>Swiss</option>
              <option value='syrian'>Syrian</option>
              <option value='taiwanese'>Taiwanese</option>
              <option value='tajik'>Tajik</option>
              <option value='tanzanian'>Tanzanian</option>
              <option value='thai'>Thai</option>
              <option value='togolese'>Togolese</option>
              <option value='tongan'>Tongan</option>
              <option value='trinidadian'>Trinidadian</option>
              <option value='tristanian'>Tristanian</option>
              <option value='tunisian'>Tunisian</option>
              <option value='turkish'>Turkish</option>
              <option value='turkmen'>Turkmen</option>
              <option value='turks-and-caicos-islander'>Turks and Caicos Islander</option>
              <option value='tuvaluan'>Tuvaluan</option>
              <option value='ugandan'>Ugandan</option>
              <option value='ukrainian'>Ukrainian</option>
              <option value='uruguayan'>Uruguayan</option>
              <option value='uzbek'>Uzbek</option>
              <option value='vatican-citizen'>Vatican citizen</option>
              <option value='citizen-of-vanuatu'>Citizen of Vanuatu</option>
              <option value='venezuelan'>Venezuelan</option>
              <option value='vietnamese'>Vietnamese</option>
              <option value='vincentian'>Vincentian</option>
              <option value='wallisian'>Wallisian</option>
              <option value='welsh'>Welsh</option>
              <option value='yemeni'>Yemeni</option>
              <option value='zambian'>Zambian</option>
              <option value='zimbabwean'>Zimbabwean</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col50p mt0-5">
            <label for="psw"><b>Password</b></label>
          </div>
          <div class="col50p mt0-5">
            <label for="psw"><b>Confirm Password</b></label>
          </div>
        </div>
        <div class="row">
          <div class="col100p">
            <div class="row tac">
              <div class="col50p mr0-5">
                <input class="w100p fl b0 bc-ly br0-5 pv1 ph0 ti10px" type="password" placeholder="Password" name="psw"
                  required>
              </div>
              <div class="col50p ml0-5">
                <input class="w100p fr b0 bc-ly br0-5 pv1 ph0 ti10px " type="password" placeholder="Confirm password"
                  name="cpsw" required>
              </div>
            </div>
          </div>
        </div>

        <div class="row pt0-75">
          <div class="col50p ">
            <button type="submit" class="form-confirm bc-y">Register</button>
          </div>
          <div class="col50p">
            <button type="button" class="form-confirm bc-g" onclick="closeRegisterOpenLogin()">Login</button>
          </div>
        </div>
    </div>
  </div>
  </form>
  </div>


  <script>
    function closeFormRegister() {
      if (document.getElementById("register").classList.contains("modalshow")) {
        document.getElementById("register").classList.remove("modalshow");
        document.getElementById("register").classList.add("modalhidden");
      }
    }

    function openFormRegister() {
      if (document.getElementById("register").classList.contains("modalhidden")) {
        document.getElementById("register").classList.remove("modalhidden");
        document.getElementById("register").classList.add("modalshow");
      }
    }



    function closeRegisterOpenLogin() {
      document.getElementById("register").style.display = "none";
      document.getElementById("login").style.display = "block";
    }

    function openFormLogin() {
      document.getElementById("login").style.display = "block";
    }

    function closeFormLogin() {
      document.getElementById("login").style.display = "none";
    }
  </script>
</body>

</html>