<!DOCTYPE html>
<html>

<head>
  <link href="{{ url_for('static', filename='css/kamer-result-stylesheet.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>

  <script src="https://kit.fontawesome.com/739df3285b.js" crossorigin="anonymous"></script>

  <title>Browse rooms</title>
  <style>

  </style>
</head>

<body>
  <div>
    <div class="row">
      <div class="col100p">
        <ul class="ul-nav w100p mt0 bc-y bs1b">
          <li class="li-nav fl"><a href="http://127.0.0.1:5000/index" class="fl"><img height="56px" src="{{ url_for('static', filename='/images/logo-transparent.png') }}" alt="Accomodo"></a></li>
          <li class="li-nav ml1 mr4 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22" href=http://127.0.0.1:5000/account><i class="fa-sharp fa-regular fa-user"></i> {{ naam }}</a></li>
          <li class="li-nav mh1 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22" href=http://127.0.0.1:5000/messages><i class="fa-sharp fa-regular fa-message"></i> Messages</a></li>
          <li class="li-nav mh1 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22" href=http://127.0.0.1:5000/favorites><i class="fa-regular fa-heart"></i> Favorites</a></li>
          <li class="li-nav-dd fr mh1 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22"><i class="fa-solid fa-house"></i> Rooms <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
              <a href="http://127.0.0.1:5000/rooms">Our vision</a>
              <a href="http://127.0.0.1:5000/uploadroom">Upload room</a>
              <a href="http://127.0.0.1:5000/result">View rooms</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ctr mh10p">
    <div class="row0 mt5">
      <div class="col20p">
        <div class="row">
          <div class="col100p">
            <p class="ml1 mt1-75 mb0 fs36">Filters</p>
          </div>
        </div>
        <div class="rowm">
          <div class="col100p">
            <div class="bc-y br0-5 mh0-5 mb0-5 ca pb1 bs3g">
              <span class="fs18 mv1">Choose location:</span>
              <select class="bc-ly ma ph2 pv1 fs18 br0-5 b0">
                <option value="">Amsterdam</option>
                <option value="">Groningen</option>
                <option value="">Maastricht</option>
                <option value="">Utrecht</option>
                <option value="">Rotterdam</option>
              </select>
            </div>
          </div>
        </div>


        <div class="rowm">
          <div class="col100p">
            <div class="bc-y br0-5 mh0-5 mb0-5 ca pb1 bs3g">
              <form action=""><!--Form doesnt have functionality yet-->
                <span class="fs18 mv1">Minimal size:</span>
                <div class="row">
                  <div class="col100p">
                    <input class="w20p m0-25" type="checkbox" name="" id="">
                    <Label class="w80p pv1">10m<sup>2</sup> or more</Label><br>
                    <input class="w20p m0-25" type="checkbox" name="" id="">
                    <Label class="w80p pv1">15m<sup>2</sup> or more</Label><br>
                    <input class="w20p m0-25" type="checkbox" name="" id="">
                    <Label class="w80p pv1">20m<sup>2</sup> or more</Label><br>
                    <input class="w20p m0-25" type="checkbox" name="" id="">
                    <Label class="w80p pv1">25m<sup>2</sup> or more</Label><br>
                    <input class="w20p m0-25" type="checkbox" name="" id="">
                    <Label class="w80p pv1">30m<sup>2</sup> or more</Label><br>

                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="rowm">
          <div class="col100p">
            <div class="bc-y br0-5 mh0-5 mb0-5 ca pb1 bs3g">
              <span class="fs18 mt1">Price in Euro:</span>
              <input class="bc-ly m0-5 pv0-75 fs18 br0-5 b0" type="text" name="" id="" placeholder="Minimum">
              <input class="bc-ly mv0-5 pv0-75 fs18 br0-5 b0" type="text" name="" id="" placeholder="Maximum">
            </div>
          </div>
        </div>


        <div class="rowm">
          <div class="col100p">
            <div class="bc-y br0-5 mh0-5 mb0-5 ca pb1 bs3g">
              <span class="fs18 mv1">Amount of rooms:</span>
              <div class="row">
                <div class="col100p">
                  <input class="w20p m0-25" type="checkbox" name="" id="">
                  <Label class="w80p pv1">1 or more</Label><br>
                  <input class="w20p m0-25" type="checkbox" name="" id="">
                  <Label class="w80p pv1">2 or more</Label><br>
                  <input class="w20p m0-25" type="checkbox" name="" id="">
                  <Label class="w80p pv1">3 or more</Label><br>
                  <input class="w20p m0-25" type="checkbox" name="" id="">
                  <Label class="w80p pv1">4 or more</Label><br>
                  <input class="w20p m0-25" type="checkbox" name="" id="">
                  <Label class="w80p pv1">5 or more</Label><br>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="rowm">
          <div class="col100p ca">
            <div>
              <button class="bc-y br0-5 mt0-5 p1 ma fs18 confirm-button bs3g" type="submit">Apply filters</button>
              </form>
            </div>
          </div>
        </div>

      </div>




      <div class="col80p">
        <div class="row0">
          <div class="cola fl mh1">
            <select class="bc-ly p1 fs18 br0-5 b0 ">
              <option value="">Relevance</option>
              <option value="">Alphabetical</option>
              <option value="">Price ascending</option>
              <option value="">Price descending</option>
            </select>
          </div>
          <div class="cola mh1 ">
            <p class="tac">XXX rooms in YYY</p>

          </div>
        </div>
        <div class="row0">
          <div class="cola">
            <p class="m1 ml2"><a href="http://127.0.0.1:5000/index">Homepage </a> > Browse rooms</p>
          </div>
        </div>



        <div class="row ">
          <div class="col100p ">
            {% for entry in house %}
              <div class="row">
                <div class="col30p bc-bl bs3g mb1 br0-5">
                  <div class="br0-5 ca">
                    <img class="w16  br0-5 mt1 mb0-5" src="./uploads/{{ entry[9] }}" alt="House Image" />
                  </div>
                </div>

                <div class="col70p bc-lbl bs3g mb1 br0-5">
                  <div class="row">
                    <div class="col100p ml1 pt1">
                      <span class="fs24 fw9">{{ entry[1] }}</span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col100p ml1">
                      <span class="fs24">{{ entry[2] }}</span>
                    </div>
                  </div>

                  <div class="row pv1">
                    <div class="col50p ca">
                      <span>€{{ entry[6] }}</span>
                    </div>
                    <div class="col50p ca">
                      <span>{{ entry[4] }}m<sup>2</sup></span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col100p ml1">
                      <span>Uploaded: {{ entry[8] }}</span>
                    </div>
                  </div>

                  <div class="row mb0-5">
                    <div class="col50p ml1">
                      <span>Landlord: {{entry[10]}} {{entry[11]}} </span>
                    </div>
                    <div class="col50p pb1 mr0-5">
                      <span class="fr"><a href="{{ url_for('details', id=entry[0]) }}">View more >>></a></span>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col100p bc-bl mt5 pt1">
      <div class="row">
        <div class="col24p">
          <div class="row">
            <div class="col100p ca br1lb">
              <img class="w80p" src="{{ url_for('static', filename='/images/logo-transparent.png') }}"
                alt="Accomodo logo">
            </div>
          </div>
          <div class="row">
            <div class="col100p tac">
              <span class="fs12 c-lb">Accomodo <i class="fa-regular fa-copyright"></i> 2023, all rights
                reserved</span>
            </div>

          </div>
        </div>
        <div class="col1p">
          <div class="bc-b mt-1 w2px h100p pb1">
          </div>
        </div>
        <div class="col25p">
          <div class="ml50p">
            <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/rooms">Our vision</a><br>
            <a class="c-b ftr-h ml1 noline" href="http://127.0.0.1:5000/uploadroom">Upload room</a><br>
            <a class="c-b ftr-h ml1 noline" href="http://127.0.0.1:5000/result">View rooms</a><br>
            <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/favorites">Favorites</a><br>
            <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/messages">Messages</a><br>
            <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/account">Account</a><br>
          </div>
        </div>
        <div class="col25p">
          <div class="ml35p">
            <span>Contact:</span>
            <span>Princetonplein 5, </span><br>
            <span>3584 CC Utrecht, the Netherlands</span>
            <br><br>
            <span>Phone: <a class="c-link" href="tel:+31 6 21605501">+31 6 21605501</a></span><br>
            <span>Email: <a class="c-link" href="mailto:Customers@Accomodo.info">Customers@Accomodo.info</a></span><br>
        
          </div>
        </div>
        <div class="col25p tac">
          <span>Follow us:</span><br> <br>
          <a class="c-b ftr-h" href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2xl"></i> </a>
          <a class="c-b ftr-h" href="https://www.twitter.com/"><i class="fa-brands fa-twitter fa-2xl"></i></a>
          <a class="c-b ftr-h" href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>