<!DOCTYPE html>
<html>

<head>
  <title>Rooms</title>

  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/rooms-stylesheet.css') }}" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>

  <script src="https://kit.fontawesome.com/739df3285b.js" crossorigin="anonymous"></script>
</head>

<body>
  <div>
    <div class="row">
      <div class="col100p">
          <ul class="ul-nav w100p mt0 bc-y bs1b">
              <li class="li-nav fl"><a href="http://127.0.0.1:5000/index" class="fl"><img height="56px" src="{{ url_for('static', filename='/images/logo-transparent.png') }}" alt="Accomodo"></a></li>
              <li class="li-nav ml1 mr4 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22" href=http://127.0.0.1:5000/account><i class="fa-sharp fa-regular fa-user"></i> {{ naam }}</a></li>
              <li class="li-nav mh1 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22" href=http://127.0.0.1:5000/messages><i class="fa-sharp fa-regular fa-message"></i> Messages</a></li>
              <li class="li-nav mh1 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22" href=http://127.0.0.1:5000/favorites><i class="fa-regular fa-heart"></i> Favorites</a></li>
              <li class="li-nav-dd fr mh1 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22"><i class="fa-solid fa-house"></i> Rooms <i class="fa fa-caret-down"></i></a>
                  <div class="dropdown-content">
                      <a href="http://127.0.0.1:5000/rooms">Our vision</a>
                      <a href="http://127.0.0.1:5000/uploadroom">Upload room</a>
                      <a href="http://127.0.0.1:5000/result">View rooms</a>
                  </div>
              </li>
          </ul>
      </div>
  </div>
    </div>
    <div class="row bc-lbl pb1">
        <div class="ctr mb5">

          <div class="row mt5">
            <div class="col100p mt1 ml1">
              <span class=""><a href="http://127.0.0.1:5000/index">Homepage </a> >
                Rooms</span><!--default port might not work for everyone-->
            </div>
          </div>
          <div class="row bc-ly br0-5 bs3g mt0-5 pb1">
            <div class="col60p">
              <div class="row">
                <div class="col100p ca">
                  <span class="fw9 fs36">Our Vision</span>
                  <hr class=" fl w90p ml0-5">
                </div>
              </div>
              <div class="row">
                <div class="col100p ">
                  <div class="row0">
                    <div class="col90p ph5p">
                      <span class="fs12 ">Accomodo is a centralized platform designed to simplify the search process
                        for,
                        international,
                        students across the Netherlands. Gone are the days of navigating numerous Facebook pages and
                        filling out
                        individual
                        forms. With Accomodo, we bring landlords and room-seeking students together on one clear and
                        user-friendly page.</span>
                    </div>
                  </div>

                  <div class="row0 ">
                    <div class="col90p ph5p pv0-5">
                      <span class="fs12">Our vision is to create an environment of transparency and ease, ensuring that
                        every student has access to
                        comprehensive room listings. By establishing a single platform, we not only alleviate the burden
                        on
                        students but also
                        provide an opportunity for landlords to easily find tentants for their vacant rooms</span>
                    </div>
                  </div>
                  <div class="row0">
                    <div class="col90p ph5p">
                      <span class="fs12">Join us in our mission to revolutionize the student housing landscape.
                        Together,
                        we can bring clarity, fairness, and
                        convenience to the journey of finding the perfect student accommodation. Accomodo is your
                        trusted
                        partner, dedicated
                        to enhancing your study experience in the Netherlands.</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col40p tac">
              <img class="w90p br0-5 bs3g mt3-5 mr1" src="{{ url_for('static', filename='/images/huisjes2.png') }}"
                alt="Pictogram of houses"></a>
            </div>
          </div>
          <div class="row mt3">
            <div class="col50p fl h90p bc-bl br0-5 bs3g p1 mr1">
              <div class="row">
                <div class="100p">
                  <span class="fw9 fs36">For landlords</span>
                </div>
              </div>
              <hr class=" fl w90p ml0-5">
              <div class="row">
                <div class="100p">
                  <span class="fs12">As a landlord, you strugle with the challenges of reaching a wide pool of prospective
                    tenants while ensuring a fair
                    and efficient rental process. Accomodo is here to revolutionize the way you connect with
                    - international - students seeking accommodation,
                    providing you with a host of advantages and simplifying the room uploading process.</span>
                </div>
              </div>
              <div class="row">
                <div class="100p pt0-5">
                  <span class="fs12">Uploading rooms on Accomodo is a straightforward and user-friendly process. Our
                    platform is designed to streamline your
                    experience, saving you time and effort. Here's how it works:</span>
                </div>
              </div>
              <div class="row">
                <div class="100p ml1">
                  <span class="fs12">1. Create an Account: Begin by creating an account on Accomodo. It's
                    a simple process that only requires basic information.</span>
                </div>
              </div>
              <div class="row">
                <div class="100p ml1">
                  <span class="fs12">2. Upload room: Provide all the essential details about your available rooms, such
                    as pictures, location, size, amenities, rental
                    price, and any specific requirements you may have. The more comprehensive and accurate your listing
                    the better!</span>
                </div>
              </div>
              <div class="row">
                <div class="100p ml1">
                  <span class="fs12">3. Verification Process: To maintain the integrity of our platform and build trust
                    between landlords and tenants, Accomodo
                    implements a verification process. This may include confirming your identity and property ownership.
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="100p ml1">
                  <span class="fs12">4. Communication and Rental Agreements: Accomodo facilitates direct communication
                    between you and interested students,
                    allowing you to discuss rental terms, answer questions, and finalize agreements. We provide a secure
                    messaging system to
                    ensure privacy and convenience for all parties involved.</span>
                </div>
              </div>
              <div class="row">
                <div class="100p ml1">
                  <span class="fs12">5. Seal the deal: Once you've found a suitable tenant and have finalized the
                    necesary documents
                    you can remove your listing and enjoy the lease of a propper tentant.
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="100p pt0-5">
                  <span class="fs12">By choosing Accomodo, you tap into a centralized platform that streamlines the
                    rental process, increases your property's
                    visibility, and connects you with a diverse range of international students. Let us be your trusted
                    partner in finding
                    reliable and responsible tenants while enjoying the benefits of a convenient and efficient room
                    uploading experience.</span>
                </div>
              </div>
              <div class="row">
              <div class="100p pt0-5">
                <form method="GET" action="/uploadroom" class="knop">
                  <button class="bc-y p1 mr0-5 mb0-5 br2 b0 bs3g">Upload room</button>
                </form>
              </div>
            </div>
            </div>
            
            <div class="col50p fl bc-bl br0-5 bs3g p1">
              <div class="row">
                <div class="100p">
                  <span class="fw9 fs36">For renters</span>
                </div>
              </div>
              <hr class=" fl w90p ml0-5">
              <div class="row">
                <div class="100p">
                  <span class="fs12">We understand the struggles you face as a renter when searching for suitable
                    accommodation in the Netherlands. 
                    Accomodo is here to revolutionize your experience by providing a user-friendly platform that
                    connects you with a wide range of available rooms, simplifying your search and ensuring fair rights
                    throughout the
                    process.</span>
                </div>
              </div>
              <div class="row">
                <div class="100p pt0-5">
                  <span class="fs12">When you use Accomodo you can say goodbye to endless browsing through Facebook pages or filling out
                     multiple forms. With Accomodo, you'll find all the offered rooms on one clear and organized page, giving you a 
                     comprehensive overview of your options. Our platform is designed with your convenience and safety in mind.
                     Here's how Accomodo works to enhance your search for the perfect room:</span>
                </div>
              </div>
              <div class="row">
                <div class="100p ml1">
                  <span class="fs12">1. Easy Registration: Getting started is quick and simple. Create an account on
                    Accomodo and provide some basic information about yourself</span>
                </div>
              </div>
              <div class="row">
                <div class="100p ml1">
                  <span class="fs12">2. Comprehensive Room Listings: Accomodo offers a wide range of rooms across
                    various cities in the Netherlands. Our platform ensures that you have access to detailed room
                    listings, including information about location, size, amenities, rental prices, and any specific
                    requirements set by landlords.</span>
                </div>
              </div>
              <div class="row">
                <div class="100p ml1">
                  <span class="fs12">3. Advanced Search Filters: Tailor your search based on your specific criteria.
                    Accomodo provides advanced search filters, allowing you to narrow down your options based on 
                    factors such as location, price range and room size.
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="100p ml1">
                  <span class="fs12">4. Direct Communication: Once you find a room that interests you, Accomodo
                    facilitates direct communication between you and the landlord. You can ask questions, schedule 
                    viewings, and discuss rental terms directly through our secure messaging system.</span>
                </div>
              </div>
              <div class="row">
                <div class="100p ml1">
                  <span class="fs12">5. Fairness and Transparency: Accomodo is committed to ensuring fair rights for
                    both renters and
                    landlords. We promote transparency in the rental process and provide guidelines to help you navigate
                    rental
                    agreements and negotiate terms.</span>
                </div>
              </div>
              <div class="row">
                <div class="100p pt0-5">
                  <span class="fs12">By choosing Accomodo, you'll enjoy the convenience of a centralized platform that
                    simplifies your search for student accommodation. We aim to provide a user-friendly experience, 
                    giving you access to comprehensive room listings, clear visuals, and direct communication with 
                    landlords. Accomodo is your trusted companion in finding the perfect room, ensuring that you can 
                    focus on your studies and enjoy your experience as an international student in the Netherlands.</span>
                </div>
              </div>
              <div class="row">
                <div class="100p pt0-5">
                  <form method="GET" action="/result" class="knop">
                    <button class="bc-y p1 mr0-5 mb0-5 br2 b0 bs3g">View rooms</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col100p bc-bl pt1"> 
        <div class="row">
          <div class="col24p">
            <div class="row">
              <div class="col100p ca br1lb">
                <img class="w80p" src="{{ url_for('static', filename='/images/logo-transparent.png') }}"
                  alt="Accomodo logo">
              </div>
            </div>
            <div class="row">
              <div class="col100p tac">
                <span class="fs12 c-lb">Accomodo <i class="fa-regular fa-copyright"></i> 2023, all rights
                  reserved</span>
              </div>

            </div>
          </div>
          <div class="col1p">
            <div class="bc-b mt-1 w2px h100p pb1">
            </div>
          </div>
          <div class="col25p">
            <div class="ml50p">
              <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/rooms">Our vision</a><br>
              <a class="c-b ftr-h ml1 noline" href="http://127.0.0.1:5000/uploadroom">Upload room</a><br>
              <a class="c-b ftr-h ml1 noline" href="http://127.0.0.1:5000/result">View rooms</a><br>
              <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/favorites">Favorites</a><br>
              <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/messages">Messages</a><br>
              <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/account">Account</a><br>
            </div>
          </div>
          <div class="col25p">
            <div class="ml35p">
              <span>Contact:</span>
              <span>Princetonplein 5, </span><br>
              <span>3584 CC Utrecht, the Netherlands</span>
              <br><br>
              <span>Phone: <a class="c-link" href="tel:+31 6 21605501">+31 6 21605501</a></span><br>
              <span>Email: <a class="c-link" href="mailto:Customers@Accomodo.info">Customers@Accomodo.info</a></span><br>
          
            </div>
          </div>
          <div class="col25p tac">
            <span>Follow us:</span><br> <br>
            <a class="c-b ftr-h" href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2xl"></i> </a>
            <a class="c-b ftr-h" href="https://www.twitter.com/"><i class="fa-brands fa-twitter fa-2xl"></i></a>
            <a class="c-b ftr-h" href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>