<!DOCTYPE html>
<html>
  <head>
    <title>Upload a room</title>
  
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/uploadroom-stylesheet.css') }}" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>

    <script src="https://kit.fontawesome.com/739df3285b.js" crossorigin="anonymous"></script>
    <script>
      let previousLength = 0;

      const handleInput = (event) => {
        const bullet = "\u2022";
        const newLength = event.target.value.length;
        const characterCode = event.target.value.substr(-1).charCodeAt(0);

        if (newLength > previousLength) {
          if (characterCode === 10) {
            event.target.value = `${event.target.value}${bullet} `;
          } else if (newLength === 1) {
            event.target.value = `${bullet} ${event.target.value}`;
          }
        }

        previousLength = newLength;
      }
    </script>
    </head>

<body>
<div>
  <div class="row">
    <div class="col100p">
        <ul class="ul-nav w100p mt0 bc-y bs1b">
            <li class="li-nav fl"><a href="http://127.0.0.1:5000/index" class="fl"><img height="56px" src="{{ url_for('static', filename='/images/logo-transparent.png') }}" alt="Accomodo"></a></li>
            <li class="li-nav ml1 mr4 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22" href=http://127.0.0.1:5000/account><i class="fa-sharp fa-regular fa-user"></i> {{ naam }}</a></li>
            <li class="li-nav mh1 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22" href=http://127.0.0.1:5000/messages><i class="fa-sharp fa-regular fa-message"></i> Messages</a></li>
            <li class="li-nav mh1 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22" href=http://127.0.0.1:5000/favorites><i class="fa-regular fa-heart"></i> Favorites</a></li>
            <li class="li-nav-dd fr mh1 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22"><i class="fa-solid fa-house"></i> Rooms <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-content">
                    <a href="http://127.0.0.1:5000/rooms">Our vision</a>
                    <a href="http://127.0.0.1:5000/uploadroom">Upload room</a>
                    <a href="http://127.0.0.1:5000/result">View rooms</a>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
  <div class="ctr upload-div2 mh10p">
    <div class="row mt5">
      <div class="col100p">
        <p class="upload-div1-p"><a href="http://127.0.0.1:5000/index">Homepage </a> > Upload new room</p>
      </div>
    </div>
    <form method="POST" action="/uploadsuccesfull" enctype="multipart/form-data">
      
      <!--default port might not work for everyone-->

      <div class="rowm">
      
        <div class="col75p p1">
          
            <label for="input-photos">
              <div class="upload-div2-1 bc-bl">
                <div class="ctr90 mv1">
                  <div class="row">
                    <div class="col100p">
                      <span>Click here to add a primary picture</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col100p ca mt0-5">
                      <input type="file" id="input-photos" name="image" accept="image/*">
                      <img class="h30" src="{{ url_for('static', filename='/images/plus.png') }}" alt="">
                    </div>                    
                  </div>
                </div>
              
            </label>
          </div>
        </div>
        <div class="col25p p1">
          <div class="upload-div2-2 bc-ly">
            <div class="row">
              <div class="col100p">
                <br><span class="tac fs24 ml4 mv1">Enter location</span>
                <div class="row">  
                  <div class="col80p">
                      <br><input class="w60p ml15p mv0-5 bc-lg" type="text" placeholder="City" name="city" id="city" required/>
                      <br><input class="w60p ml15p mv0-5 bc-lg" type="text" placeholder="Streetname" name="streetname" id="streetname" required/>
                      <br><input class="w60p ml15p mv0-5 bc-lg" type="text" placeholder="House number" name="housenumber" id="housenumber" required/>
                    </div> 
                    <div class="col20p">
                      <br><button class="clear-button w7-5p ml2-5p mt30p mb1 c-ly bc-b fs18 w70p" onclick="document.getElementById('city').value = ''">X</button>
                      <br><button class="clear-button w7-5p ml2-5p mt30p mb1 c-ly bc-b fs18 w70p" onclick="document.getElementById('streetname').value = ''">X</button>
                      <br><button class="clear-button w7-5p ml2-5p mt30p mb1 c-ly bc-b fs18 w70p" onclick="document.getElementById('housenumber').value = ''">X</button>
                    </div>
                </div>
            </div>
          </div>
          </div>
          <div class="upload-div2-2 bc-ly mt30px">
            <div class="row">
              <div class="col100p">
                <br><span class="tac fs24 ml4 mv1">Enter size</span>
                <div class="row">  
                  <div class="col80p">
                      <br><input class="w60p ml15p mv0-5 bc-lg" type="text" placeholder="Enter size in m2" name="oppervlak" id="oppervlak" required/>
                    </div> 
                      <div class="col20p">
                        <br><button class="clear-button w7-5p ml2-5p mt30p mb1 c-ly bc-b fs18 w70p" onclick="document.getElementById('oppervlak').value = ''">X</button>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="rowm">
        <div class="col75p p1">
          <div class="rowm">
            <div class="col33p pr1">
              <label for="input-photos">
                <div class="upload-div2-3 bc-lbl">
                  <div class="ctr mv1">
                    <div class="row">
                      <div class="col100p">
                        <span>Click to add extra pictures</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col100p ca mt0-5">
                        <input id="input-photos" type="file">
                        <img src="{{ url_for('static', filename='/images/plus.png') }}" alt="">
                      </div>                    
                    </div>
                  </div>
                </div>
              </label>
            </div>
            <div class="col33p pr1">
              <label for="input-photos">
                <div class="upload-div2-3 bc-lbl">
                  <div class="ctr mv1">
                    <div class="row">
                      <div class="col100p">
                        <span>Click to add extra pictures</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col100p ca mt0-5">
                        <input id="input-photos" type="file">
                        <img src="{{ url_for('static', filename='/images/plus.png') }}" alt="">
                      </div>                    
                    </div>
                  </div>
                </div>
              </label>
            </div>
            <div class="col33p pr1">
              <label for="input-photos">
                <div class="upload-div2-3 bc-lbl">
                  <div class="ctr mv1">
                    <div class="row">
                      <div class="col100p">
                        <span>Click to add extra pictures</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col100p ca mt0-5">
                        <input id="input-photos" type="file">
                        <img src="{{ url_for('static', filename='/images/plus.png') }}" alt="">
                      </div>                    
                    </div>
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="col25p p1">
          <div class="upload-div2-2 bc-ly">
            <div class="row">
              <div class="col100p">
                <br><span class="tac fs24 ml4 mv1">Enter Price</span>
                <div class="row">  
                  <div class="col80p">
                      <br><input class="w60p ml15p mv0-5 bc-lg" type="text" placeholder="Price in Euro" name="price" id="price" required/>
                    </div> 
                      <div class="col20p">
                        <br><button class="clear-button w7-5p ml2-5p mt30p mb1 c-ly bc-b fs18 w70p" onclick="document.getElementById('price').value = ''">X</button>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="rowm mt1 mb0-5">
        <hr class="c-b w80p ">
      </div>

      <div class="rowm">
        <div class="col66p p1">
          <div class="upload-div2-4 bc-lbl">
            <div class="row">
              <div class="col100p">
                <br><span class="fs24 ml2 mv1">Description</span><br>
                <br><textarea class="w85p h60p ml4 bc-lg" name="beschrijving" placeholder="Description..." class="kamer-upload-pagina-textarea" wrap="soft" maxlength="2999" required></textarea>    
                </div>
              </div>
            </div>          
          </div>
        
        <div class="col33p p1">
          <div class="upload-div2-5 bc-lbl">
            <div class="row">
              <div class="col100p">
                <br><span class="fs24 ml2 mt1">Room details</span><br>
                <br><textarea class="w75p h60p mh2 bc-lg" name="roomdetails" placeholder="Enter details about the room..." class="kamer-upload-pagina-textarea" wrap="soft" maxlength="999" onInput="handleInput(event)" rows="10" required></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col40p">
          <button class="confirm-button pv2 ph3 b0 br0-5 bs3g fr" type="submit">
            <label>Upload!</label>
          </button>
        </div>
        <div class="col10p">

        </div>
        <div class="col40p">
          <button class="deny-button pv2 ph3 b0 br0-5 bs3g fl" href="/index">Cancel</button>
        </div>
      </div>
  
    </form>

  </div>
  <div class="row">
    <div class="col100p bc-bl mt5 pt1">
      <div class="row">
        <div class="col24p">
          <div class="row">
            <div class="col100p ca br1lb">
              <img class="w80p" src="{{ url_for('static', filename='/images/logo-transparent.png') }}"
                alt="Accomodo logo">
            </div>
          </div>
          <div class="row">
            <div class="col100p tac">
              <span class="fs12 c-lb">Accomodo <i class="fa-regular fa-copyright"></i> 2023, all rights
                reserved</span>
            </div>

          </div>
        </div>
        <div class="col1p">
          <div class="bc-b mt-1 w2px h100p pb1">
          </div>
        </div>
        <div class="col25p">
          <div class="ml50p">
            <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/rooms">Our vision</a><br>
            <a class="c-b ftr-h ml1 noline" href="http://127.0.0.1:5000/uploadroom">Upload room</a><br>
            <a class="c-b ftr-h ml1 noline" href="http://127.0.0.1:5000/result">View rooms</a><br>
            <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/favorites">Favorites</a><br>
            <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/messages">Messages</a><br>
            <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/account">Account</a><br>
          </div>
        </div>
        <div class="col25p">
          <div class="ml35p">
            <span>Contact:</span>
            <span>Princetonplein 5, </span><br>
            <span>3584 CC Utrecht, the Netherlands</span>
            <br><br>
            <span>Phone: <a class="c-link" href="tel:+31 6 21605501">+31 6 21605501</a></span><br>
            <span>Email: <a class="c-link" href="mailto:Customers@Accomodo.info">Customers@Accomodo.info</a></span><br>
        
          </div>
        </div>
        <div class="col25p tac">
          <span>Follow us:</span><br> <br>
          <a class="c-b ftr-h" href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2xl"></i> </a>
          <a class="c-b ftr-h" href="https://www.twitter.com/"><i class="fa-brands fa-twitter fa-2xl"></i></a>
          <a class="c-b ftr-h" href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>
