<!DOCTYPE html>
<html>

<head>
  <title>Account</title>

  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/rooms-stylesheet.css') }}" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>

  <script src="https://kit.fontawesome.com/739df3285b.js" crossorigin="anonymous"></script>
</head>

<body>
<div>
    <div class="row">
        <div class="col100p">
            <ul class="ul-nav w100p mt0 bc-y bs1b">
                <li class="li-nav fl"><a href="http://127.0.0.1:5000/index" class="fl"><img height="56px" src="{{ url_for('static', filename='/images/logo-transparent.png') }}" alt="Accomodo"></a></li>
                <li class="li-nav ml1 mr4 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22" href=http://127.0.0.1:5000/account><i class="fa-sharp fa-regular fa-user"></i> {{ naam }}</a></li>
                <li class="li-nav mh1 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22" href=http://127.0.0.1:5000/messages><i class="fa-sharp fa-regular fa-message"></i> Messages</a></li>
                <li class="li-nav mh1 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22" href=http://127.0.0.1:5000/favorites><i class="fa-regular fa-heart"></i> Favorites</a></li>
                <li class="li-nav-dd fr mh1 mt1"><a class="a-nav bc-ly c-b pt2 pb0-75 ph0-75 fs22"><i class="fa-solid fa-house"></i> Rooms <i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-content">
                        <a href="http://127.0.0.1:5000/rooms">Our vision</a>
                        <a href="http://127.0.0.1:5000/uploadroom">Upload room</a>
                        <a href="http://127.0.0.1:5000/result">View rooms</a>
                    </div>
                </li>
            </ul>
        </div>
</div>
        <div class="ctr">
            <div class="row mt5">
                <div class="col100p mt1 ml1">
                    <span class=""><a href="http://127.0.0.1:5000/">Homepage </a> > Account</span><!--default port might not work for everyone-->
                </div>
            </div>
            <div class="row bc-bl br0-5 p1 mt0-5">
                <div class="row">
                    <div class="col100p ca">
                        <span class="fw9 fs36">Wrong password!</span>
                        <hr class=" fl w90p">
                        <span class="fs12 ">The password you selected is wrong. Please Click <a class="underline c-link" href="http://127.0.0.1:5000/index">here</a> to go to the homepage and try again</span>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col100p bc-bl mt5 pt1">
              <div class="row">
                <div class="col24p">
                  <div class="row">
                    <div class="col100p ca br1lb">
                      <img class="w80p" src="{{ url_for('static', filename='/images/logo-transparent.png') }}"
                        alt="Accomodo logo">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col100p tac">
                      <span class="fs12 c-lb">Accomodo <i class="fa-regular fa-copyright"></i> 2023, all rights
                        reserved</span>
                    </div>
      
                  </div>
                </div>
                <div class="col1p">
                  <div class="bc-b mt-1 w2px h100p pb1">
                  </div>
                </div>
                <div class="col25p">
                  <div class="ml50p">
                    <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/rooms">Our vision</a><br>
                    <a class="c-b ftr-h ml1 noline" href="http://127.0.0.1:5000/uploadroom">Upload room</a><br>
                    <a class="c-b ftr-h ml1 noline" href="http://127.0.0.1:5000/result">View rooms</a><br>
                    <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/favorites">Favorites</a><br>
                    <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/messages">Messages</a><br>
                    <a class="c-b ftr-h noline" href="http://127.0.0.1:5000/account">Account</a><br>
                  </div>
                </div>
                <div class="col25p">
                  <div class="ml35p">
                    <span>Contact:</span>
                    <span>Princetonplein 5, </span><br>
                    <span>3584 CC Utrecht, the Netherlands</span>
                    <br><br>
                    <span>Phone: <a class="c-link" href="tel:+31 6 21605501">+31 6 21605501</a></span><br>
                    <span>Email: <a class="c-link" href="mailto:Customers@Accomodo.info">Customers@Accomodo.info</a></span><br>
                
                  </div>
                </div>
                <div class="col25p tac">
                  <span>Follow us:</span><br> <br>
                  <a class="c-b ftr-h" href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2xl"></i> </a>
                  <a class="c-b ftr-h" href="https://www.twitter.com/"><i class="fa-brands fa-twitter fa-2xl"></i></a>
                  <a class="c-b ftr-h" href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                </div>
              </div>
            </div>
          </div>

</div>

</body>

</html>